.next-holidays {

    h2 {
        position: relative;
        margin-left: 20px;

        &:before {
            content: "";
            width: 7.5px;
            height: 7.5px;
            position: absolute;
            left: -20px;
            top: 50%;
            transform: translateY(-50%);
            background: crimson;
            border-radius: 100%;
        }
    }

    .row {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;

        select {
            padding: 5px 10px 3px;
            border: none;
            background: transparent;
            border: 1px solid crimson;
            color: #454545;
            height: 40px;
            border-radius: 3px;

            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }
    
    ul.holiday-list { 
        margin: 0;
    
        li {
            transition: border-left .5s ease-in-out;
            border-bottom: 1px solid #e9e9e9;
            font-family: 'Roboto', sans-serif;
            // border-left: 0 solid crimson;
            padding: 17.5px 20px;
            position: relative;
            // cursor: pointer;
            margin: 0;

            h3 {
                margin: 0;
                font-size: 1.2em;
            }
        
            p {
                color: #757575;
            }

            &:nth-child(2n + 1){ background: lighten(crimson, 50) }

            &:last-child {
                border-bottom: none;
            }

            // &:before {
            //     content: "ver mais";
            //     position: absolute;
            //     top: 50%;
            //     font-size: 16px;
            //     left: 0;
            //     color: #fafafa;
            //     transform: translate(0, -50%) rotate(-90deg);
            //     opacity: 0;
            //     transition: left .25s, opacity .5s, z-index .5s;
            //     z-index: -1;
            // }

            // &:hover {
            //     border-left: 25px solid crimson;
                
            //     &:before {
            //         left: -42px;
            //         opacity: .8;
            //         z-index: 1;
            //     }
            // }
        }
    }

    hr { 
        background: #eee;
        margin: 0; 
    }
}