.header {
    background: rebeccapurple;
    margin-bottom: 1.45rem;

    h1 {
        margin: 0 auto;
        max-width: 1300px;
        padding: 1.45rem 1.0875rem;
    }
    
    a {
        color: white;
        text-decoration: none;
    }
}