@import "../../style.scss";

.navbar {
    margin: 0 auto;
    box-shadow: 0 0 2.5px #ccc;
    max-height: $navbar-height;

    nav.navbar-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 1rem 2.0875rem;
        max-width: $max-page-width;
        
        h1 {
            text-align: left;
            flex-basis: 45%;
            padding: 0;
            margin: 0 auto;
        
            @media screen and (max-width: 768px) {
                text-align: center;
                flex-basis: 100%;
            }

            a {
                color: crimson;
                text-decoration: none;
            }
        }
        .overlay {
            background: rgba(0,0,0,0.35);
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
            transition: background .5s;
            animation: show-overlay .5s;

            @keyframes show-overlay {
                0%{ background: rgba(0,0,0,0) }
                100%{ background: rgba(0,0,0,.35) }
            }
        }
        ul.open.link-list {
            display: flex;
            position: fixed;
            right: 0;
            top: 0;
            width: 250px;
            height: 100vh;
            background: #f5f5f5;
            flex-flow: column nowrap;
            z-index: 1000;
            justify-content: center;
            animation: open-menu .5s;

            @keyframes open-menu {
                0% { right: -100% }
                100% { right: 0 }
            }

            li {
                margin-bottom: 30px;
                width: 80%;
                padding: 5px 0;
                border-radius: 100px;

                &:first-child {
                    color: crimson;

                    &:hover {
                        background: lighten(crimson, 47.5);
                    }
                }

                &:hover {
                    background: #edd;
                    
                    a { color: crimson }
                }
            }
        }
        
        ul.link-list {
            display: flex;
            justify-content: space-between;
            flex-basis: 55%;
            align-items: center;
            font-size: 1.25em;
            font-family: 'Roboto', sans-serif;
            margin: 0;
            
            @media screen and (max-width: 768px) {
                display: none;
            }

            li {
                text-align: center;
                margin-bottom: 0;
                background: transparent;
                transition: transform .25s, background .25s;
                transform: translateY(0);
                font-size: .85em;
                cursor: pointer;
                
                &:hover {
                    transform: translateY(-3px);
                    
                    a { 
                        color: crimson;
                    }
                }
                
                a {
                    text-decoration: none;
                    color: rgba(0,0,0,0.8);
                    font-weight: 500;
                    transition: color .25s;
                    cursor: pointer;
                    padding: 10px;
                }
            }
        }
    }
}

ul.link-list {

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.hamburger-wrapper {
    width: 0; 
    height: 0; 
    border: 0; 
    background: none;

    @media screen and (min-width: 768px) {
        display: none;
    }
}