.is-holiday-today {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    .image-container {
        max-width: 225px;
        width: 100%;
        margin: 10px auto 20px;
    }
    
    h2 {
        font-size: calc(.65em + 5vmin);
        text-align: center;
        margin: 0 auto 20px;
    }
    
    p {
        margin: 0;
        color: #757575;
        font-size: calc(1em + 1.5vmin);
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }

    button {
        margin: 0 auto;
        background: crimson;
        padding: 7.5px 50px;
        max-width: 100%;
        border-radius: 50px;
        border: none;
        box-shadow: 1.5px 1.5px 3px rgba(0,0,0,.5);
        font-weight: 700;
        margin-top: 10px;
        transition: transform .5s;
        cursor: pointer;

        a { color: #f5f5f5 }

        &:hover {
            transform: translateY(-3px);
        }
    }
    
    .text-center {
        text-align: center;
    }

    b {
        color: darken(crimson, .5);
    }
}